<br>
<br>
<form name="form" (ngSubmit)="f.form.valid && agregar()" #f="ngForm" novalidate autocomplete="off">
    <div class="registro">
        <h1>Registro</h1>
        <br>
        <div class="form-group">
            <label for="id">Identificación</label>
            <input type="text" class="form-control" name="identificacion"
                  [(ngModel)]="persona.identificacion" #identificacion="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && identificacion.invalid }" required />
            <div *ngIf="f.submitted && identificacion.invalid" class="invalid-feedback">
                <div *ngIf="identificacion.errors.required">La identificación es requerido</div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="id">Nombre</label>
            <input type="text" class="form-control" name="nombre"
                  [(ngModel)]="persona.nombre" #nombre="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && nombre.invalid }" required />
            <div *ngIf="f.submitted && nombre.invalid" class="invalid-feedback">
                <div *ngIf="nombre.errors.required">El nombre es requerido</div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="id">Apellido</label>
            <input type="text" class="form-control" name="apellido"
                  [(ngModel)]="persona.apellido" #apellido="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && apellido.invalid }" required />
            <div *ngIf="f.submitted && apellido.invalid" class="invalid-feedback">
                <div *ngIf="apellido.errors.required">El apellido es requerido</div>
            </div>
        </div>
        <div class="form-group">
            <label for="sexo">Sexo</label>
            <br>
            <select class="form-control" name="sexo"
            [(ngModel)]="persona.sexo" #sexo="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && sexo.invalid }" required >
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
            </select>
            <div *ngIf="f.submitted && sexo.invalid" class="invalid-feedback">
                <div *ngIf="sexo.errors.required">El sexo es requerido</div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="edad">Edad</label>
            <input type="number" class="form-control" id="edad" [(ngModel)]="persona.edad">
        </div>
        <div class="form-group">
            <label for="departamento">Departamento</label>
            <input type="text" class="form-control" id="departamento" [(ngModel)]="persona.departamento">
        </div>
        <div class="form-group">
            <label for="ciudad">Ciudad</label>
            <input type="text" class="form-control" id="ciudad" [(ngModel)]="persona.ciudad">
        </div>
        <div class="form-group">
            <label for="sexo">Modalidad del apoyo</label>
            <br>
            <select name="Sexo" id="sexo" [(ngModel)]="persona.ModalidadApoyo">
                <option value="">Alimentario</option>
                <option value="">Economico</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ciudad">Valor del apoyo</label>
            <input type="number" class="form-control" id="ciudad" [(ngModel)]="persona.ValorApoyoRecivido">
        </div>
        <div class="form-group">
            <label for="ciudad">Fecha solicitud</label>
            <input type="datetime" class="form-control" id="datetime" [(ngModel)]="persona.ValorApoyoRecivido">
        </div>
        {{f.form.valid}}    
        <button type="submit" [disabled]="!f.form.valid" class="btn btn-primary" >Submit</button>
    </div>
</form>
